{{ form_start(commentForm) }}

{{ form_row(commentForm.content) }}

    {{ form_widget(commentForm) }}
<button type="submit" class="button_comment_section">{% trans %}Chia sẻ {% endtrans %}</button>

{{ form_end(commentForm) }}