{{ form_start(commentForm) }}

{{ form_row(commentForm.content) }}

    {{ form_widget(commentForm) }}
<button type="submit" class="btn btn-primary" style="margin-right: 0px;margin-bottom: 1.25rem; right: 0;">Add comment</button>

{{ form_end(commentForm) }}