
/* Css apply for only 1st <p> */
.card-body p:first-of-type{
    margin-bottom: 0rem;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines for each <p> max to show */
    -webkit-box-orient: vertical;

}

/* For the other <p>, we hide the result*/
.card-body p + p{
  display: none;

}

.imgbackground{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dayCountdownWhite{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.dayCountdownRed{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.91);
    color: red;
    padding-left: 10px;
    padding-right: 10px;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
