.container{
    position: relative;
}

.rounded-custom{
    /* for chrome and safari*/
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;

    /* for firefox */
    -moz-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;

}


.img-post{
    height:100%;
    max-height:400px;
    width: 100%;
    max-width: 1000px;
}

.edit-post{
    position: absolute;
    right: 5%;
    color: #333333;
}

.vertical-line{
    border-left: 1px dotted #6c757d;
    display: inline-block;
    height: 70px;
    margin: 0 2px;
}

.bgcolor{
    background-color: #f1efeb;
}

.showpost{
    box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);
    background-color: #fff;
    padding: 1rem 1rem 0rem;
    margin-bottom: 1.25rem;
    -webkit-box-shadow: 0 1px 4px rgba(115,115,155,.5);
    position: relative;
}

.card {
    -webkit-box-shadow: 0 1px 4px rgba(115,115,155,.5);
    box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);
    text-align: center;
    font-family: arial;
    /*border-color: orangered; */
    margin-left: 1%;
    position: fixed;
    background-color: white;
}

.card-document{
    -webkit-box-shadow: 0 1px 4px rgba(115,115,155,.5);
    box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);
    text-align: center;
    font-family: arial;
    /*border-color: orangered; */
    margin-left: 1%;
    position: fixed;
    top: 435px;
    background-color: white;
}

.authorInfo{
    position: absolute; /* Position the background text */
    top: 1rem; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    max-width: 70%; /* Full width */
    padding: 5px; /* Some padding */

}

.favorite{
    position: absolute; /* Position the background text */
    top: 2rem;
    right: 2rem;
    font-size: 30px;

}

#btn-transaction{
    background: rgba(255,95,103,0.89);
    border-radius: 3px;
    font-weight: 400;
    padding: 5px 8px;
    display: inline-block;
    position: static;
    margin: 0 1rem 1rem;
    color: white;
}

#btn-transaction:hover {
    cursor: pointer;
    background: rgba(255,75,89,0.89)
}


#btn-modify{
    background: rgba(73, 116, 222, 0.89);
    border-radius: 3px;
    font-weight: 400;
    padding: 5px 8px;
    display: inline-block;
    position: static;
    margin: 0 1rem 1rem;
    color: white;
}

#btn-modify:hover {
    cursor: pointer;
    background: rgba(17, 74, 160, 0.89)
}

body {
    margin: 1rem;
    position: relative;
    font-family: Helvetica;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
    margin: 0 1rem 1rem;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}

.icone-user{
    max-width: 70px;
    max-height: 70px;
}



.custom_progress{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}

.custom_progress .progress {
    height: 7px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 12px;
    background-color: #8d9ca8;
    border-radius: 0;
}
.progress-bar{
    background-color: #4eb49a;
   /* position: relative; */
}

.progress-count{
   position: absolute;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: red;
    font-size: 10px;
    background-color: #4eb49a;
    line-height: 32px;
    top: -13px;
}

.fa-star{
    color: yellow;
}


.OrganisationDocument{
    max-width: 100px;
    max-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.OrganisationDocument:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 75px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}