{% extends 'content_base.html.twig' %}

{% block content_body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit">
        <span>{% trans %}Thay đổi Info của app{% endtrans %}</span>
    </button>
    {{ form_end(form)}}

    <a href="{{ path('app_admin_overview') }}">{% trans %} Quay trở lại {% endtrans %}</a>

{% endblock %}

{% block title %}

{% endblock %}

