@import '../helper/variables';
@import './video';
@import './cause-card';


.card-title{
    margin-top: 5px;
}


.imgbackground{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 75vh;
}






.targetAmount{
    text-align: right; 
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 10px;
}


.custom_progress{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.custom_progress .progress {
    height: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 7px;
    background-color: #8d9ca8;
    border-radius: 0;
}
.progress-bar{
    background-color: #4eb49a;
   /* position: relative; */
}

.progress-count{
   position: absolute;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 7px;
    background-color: #4eb49a;
    line-height: 32px;
    top: -10px;
    color: red
}

.fa-star{
    color: yellow;
}
.fa-star:hover{
    color: yellow;
}

.button-favorite{
    color: white;
    border-style: none;
    background-color: rgba(248, 135, 126, 0.73);
    margin-bottom: 1em;
}




// add new css for new front 

html {
    height: 100%
}

/* Css apply for only 1st <p> */
.card-body p:first-of-type{
  margin-bottom: 0rem;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines for each <p> max to show */
  -webkit-box-orient: vertical;

}

/* For the other <p>, we hide the result*/
.card-body p + p{
display: none;
}

.card-body{
  padding: 0px;
}

.card-img-top {
  width: 100%;
  height: 302px;
  object-fit: cover;
  position: relative;
}

.dayCountdownWhite{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 14px;
}

.dayCountdownRed{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.91);
  color: red;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 14px;
}

.carousel .carousel-item{
    height: 75vh;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      height: 75vh;
  }

 // service 
 .service-one {
    position: relative;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    .container {
      position: relative;
    }
    &__shape-1 {
      position: absolute;
      bottom: 65%;
      left: 95%;
      -webkit-animation-name: shapeMover;
      animation-name: shapeMover;
      -webkit-animation-duration: 9s;
      animation-duration: 9s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
    .block-title {
      margin-bottom: 60px;
      text-align: center;
      p {
        justify-content: center;
      }
    }
    [class*="col-"]:not(:first-of-type) {
      position: relative;
      &::before {
        content: "";
        width: 1px;
        height: 230px;
        background-color: #e4e4e4;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    [class*="col-"]:nth-child(3n) {
      &::before {
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    .container {
      position: relative;
      &::before {
        content: "";
        width: 254px;
        height: 247px;
        background-repeat: no-repeat;
        position: absolute;
        top: -205px;
        left: -100px;
        -webkit-animation-name: shapeMover;
        animation-name: shapeMover;
        -webkit-animation-duration: 9s;
        animation-duration: 9s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
    }
  }
  
  .service-one__box {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    h3 {
      color: $thm-black;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      margin-top: 30px;
      margin-bottom: 0;
      letter-spacing: -0.04em;
      a {
        color: inherit;
      }
    }
    p {
      margin: 0;
      font-size: 18px;
      line-height: 34px;
      color: #7e7e7e;
      width: 100%;
      max-width: 192px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
    }
    &:hover {
      .service-one__icon::before,
      .service-one__icon::after {
        transform: rotate(-35deg);
        opacity: 1;
      }
      .service-one__icon-inner {
        &::before {
          transform: translate(0%, 0%);
        }
      }
    }
  }
  
  .service-one__icon {
    position: relative;
    width: 120px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: relative;
    &::before,
    &::after {
      content: "";
      width: 9px;
      height: 141px;
      background-color: inherit;
      border-radius: 4.5px;
      position: absolute;
      top: -15px;
      left: 30px;
      z-index: 1;
      transform: rotate(70deg);
      opacity: 0;
      transition: opacity 500ms ease, transform 500ms ease;
    }
  
    &::after {
      left: 40px;
      top: -30px;
    }
    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      &::before {
        content: "";
        top: 0;
        left: 0;
        width: 107px;
        height: 107px;
        background-color: #fff;
        position: absolute;
        opacity: 0.2;
        transform: translate(-30%, -30%);
        border-radius: 50%;
        transition: transform 500ms ease;
      }
      &::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #fff;
        opacity: 0.2;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      i {
        color: #fff;
        font-size: 64px;
      }
    }
  }
  
  .service-two {
    padding-bottom: 120px;
    background-color: #f1f1f1;
    background-repeat: repeat-x;
    background-position: bottom center;
    box-shadow: inset 0px -10px 60px 0px rgba(0, 0, 0, 0.05);
    .container {
      position: relative;
      margin-top: -20px;
    }
  }
  
  .service-two__box {
    margin-bottom: 34px;
    min-height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    border-bottom-left-radius: 230px;
    border-bottom-right-radius: 230px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    position: relative;
    background-position: center center;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: inherit;
      opacity: 0.8;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
    }
    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
    }
    p {
      margin: 0;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      line-height: 1;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    h3 {
      margin: 0;
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: -0.04em;
      a {
        color: inherit;
        transition: all 500ms ease;
        &:hover {
          color: $thm-black;
        }
      }
    }
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 24px;
      color: $thm-black;
      width: 68px;
      height: 68px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 11;
      transform: translateX(-50%) translateY(50%);
      transition: all 500ms ease;
      &:hover {
        background-color: $thm-black;
        color: #fff;
      }
    }
  }


.img-video{
    height: 250px;
    max-width: 250px;
    object-fit: cover;
}

.ul-list-one > li{
  color: black;
}

.causes-page{
  background-color: #fff;
}


.causes-col__3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .causes-col__3 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .causes-col__3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}



.card:hover {
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
}

.card{
  margin-bottom: 2rem;
}

.overlay-img-post{
  position: absolute; 
  top: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  height: 302px;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: right;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;

  .txt_add_fav{
    margin-top: 15px;
    margin-right: 0;
    font-size: 15px;
  }
}



.card:hover .overlay-img-post{
  opacity: 1;
}
/*
.card:hover + .overlay-img-post{
  opacity: 0.5;
}
*/


.cardProgress {
  -webkit-animation-name: cardProgress;
          animation-name: cardProgress;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

@-webkit-keyframes cardProgress {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes cardProgress {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}


.about-counter {
  overflow: hidden;
  background-color: #f1f1f1;
  position: relative;
  z-index: 1;
}

.about-counter::after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-counter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.about-counter .container {
  position: relative;
  z-index: 11;
}

.about-counter__text {
  margin: 0;
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  color: #7e7e7e;
}


.causes-home .block-title {
  margin-bottom: 0;
}

.causes-page .swiper-container {
  overflow: visible;
  width: 100%;
  height: 100%;
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .carousel-item img {
        object-fit: cover;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .carousel-item img {
        object-fit: fill;
    }
}


.finish_project {
  background-repeat: no-repeat;
  background-position: center center;
}

.finish_project:hover {
  cursor: grab;
}

.finish_project__top {
  margin-bottom: 50px;
}

.finish_project__top .block-title {
  margin-bottom: 0;
}

.finish_project__top-text {
  margin: 0;
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  margin-top: 25px;
}

@media (min-width: 992px) {
  .finish_project__top-text {
    padding-right: 40px;
    margin-top: 0;
  }
}

.main-menu .container {
  background-color: var(--thm-black);
  position: relative;
  display: none;
  -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1200px) {
  .main-menu .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 1260px) {
  .main-menu .container {
    max-width: 1250px;
    padding-left: 40px;
    padding-right: 40px;
  }
}


.main-menu .main-menu__list,
.main-menu .main-menu__list ul,
.stricky-header .main-menu__list,
.stricky-header .main-menu__list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu .main-menu__list > li,
.stricky-header .main-menu__list > li {
  padding-top: 24.5px;
  padding-bottom: 24.5px;
}

.main-menu .main-menu__list > li + li,
.stricky-header .main-menu__list > li + li {
  margin-left: 35px;
}

@media (min-width: 1281px) {
  .main-menu .main-menu__list > li + li,
  .stricky-header .main-menu__list > li + li {
    margin-left: 70px;
  }
}

.main-menu .main-menu__list > li > a,
.stricky-header .main-menu__list > li > a {
  font-family: var(--thm-font);
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9e9e9e;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.main-menu .main-menu__list > li.current > a,
.main-menu .main-menu__list > li:hover > a,
.stricky-header .main-menu__list > li.current > a,
.stricky-header .main-menu__list > li:hover > a {
  color: #fff;
}

.main-menu .main-menu__list > li > a::after,
.stricky-header .main-menu__list > li > a::after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  margin-left: 5px;
}

.main-menu .main-menu__list > li > a:only-child::after,
.stricky-header .main-menu__list > li > a:only-child::after {
  display: none;
}

.main-menu .main-menu__list li.search-btn,
.stricky-header .main-menu__list li.search-btn {
  margin-left: auto;
}

.main-menu .main-menu__list li.search-btn i,
.stricky-header .main-menu__list li.search-btn i {
  font-size: 22px;
}

.main-menu .main-menu__list li.cart-btn a,
.stricky-header .main-menu__list li.cart-btn a {
  position: relative;
}

.main-menu .main-menu__list li.cart-btn span,
.stricky-header .main-menu__list li.cart-btn span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 10px;
  font-family: var(--thm-font);
  background-color: var(--thm-secondary);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
  -webkit-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms;
}

.main-menu .main-menu__list li.cart-btn:hover span,
.stricky-header .main-menu__list li.cart-btn:hover span {
  background-color: #fff;
  color: var(--thm-black);
}

.main-menu .main-menu__list li.cart-btn i,
.stricky-header .main-menu__list li.cart-btn i {
  font-size: 23px;
}

.main-menu .thm-btn,
.stricky-header .thm-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.main-menu .thm-btn:hover,
.stricky-header .thm-btn:hover {
  background-color: #fff;
  color: var(--thm-black);
}

.main-menu .main-menu__list li ul,
.stricky-header .main-menu__list li ul {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 220px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  z-index: 99;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
}

.main-menu .main-menu__list li:hover > ul,
.stricky-header .main-menu__list li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.main-menu .main-menu__list li ul li,
.stricky-header .main-menu__list li ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
  position: relative;
}

.main-menu .main-menu__list li ul li + li,
.stricky-header .main-menu__list li ul li + li {
  border-top: 1px solid RGBA(var(--thm-black), 0.1);
}

.main-menu .main-menu__list li ul li a,
.stricky-header .main-menu__list li ul li a {
  font-size: 16px;
  line-height: 30px;
  color: var(--thm-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.main-menu .main-menu__list li ul li:last-child > a,
.stricky-header .main-menu__list li ul li:last-child > a {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main-menu .main-menu__list li ul li:hover > a,
.stricky-header .main-menu__list li ul li:hover > a {
  background-color: var(--thm-secondary);
  color: #fff;
}

.main-menu .main-menu__list li ul li > ul,
.stricky-header .main-menu__list li ul li > ul {
  top: 0;
  left: 100%;
}

.main-menu .main-menu__list li ul li > ul.right-align,
.stricky-header .main-menu__list li ul li > ul.right-align {
  top: 0;
  left: auto;
  right: 100%;
}

.main-menu .main-menu__list li ul li > ul ul,
.stricky-header .main-menu__list li ul li > ul ul {
  display: none;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 91;
}

@media (max-width: 1199px) {
  .main-header {
    background-color: #fff;
    position: relative;
  }
}

.main-header .inner-container {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 10;
}

.main-header .inner-container::before {
  content: "";
  position: absolute;
  width: 100000px;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  top: 0;
  right: 0;
  height: 100%;
}

.main-header .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
}

@media (min-width: 1200px) {
  .main-header .logo-box {
    padding-right: 0;
    padding-top: 55px;
  }
}

.main-header .mobile-nav__toggler {
  font-size: 20px;
  color: var(--thm-black);
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (min-width: 1200px) {
  .main-header .mobile-nav__toggler {
    display: none;
  }
}

.main-header .mobile-nav__toggler:hover {
  color: var(--thm-secondary);
}

.main-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-header__top p {
  margin: 0;
  font-size: 14px;
  color: #7e7e7e;
  font-weight: 500;
}

.main-header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__social a {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.main-header__social a + a {
  margin-left: 30px;
}

.main-header__social a:hover {
  color: var(--thm-secondary);
}

.main-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}

.main-header__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.main-header__info-list li {
  color: var(--thm-black);
  font-size: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.main-header__info-list li:hover {
  color: var(--thm-base);
}

.main-header__info-list li:hover > i {
  background-color: var(--thm-black);
}

.main-header__info-list li + li {
  margin-left: 30px;
}

.main-header__info-list li a {
  color: inherit;
}

.main-header__info-list li > i {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: var(--thm-base);
  font-size: 16px;
  margin-right: 10px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.main-header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-header__language img {
  border-radius: 50%;
  margin: 7px;
}

.main-header__language .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 70px;
}

.main-header__language .bootstrap-select > .dropdown-toggle {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: #7e7e7e;
  font-size: 14px;
}

.main-header__language .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  color: #7e7e7e;
}

.main-menu {
  background-color: var(--thm-black);
  padding-left: 50px;
  padding-right: 50px;
}

.stricky-header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--thm-black);
  display: none;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.stricky-header.stricky-fixed {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 1200px) {
  .stricky-header {
    display: block;
  }
}

.stricky-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stricky-header .main-menu__list li.search-btn,
.stricky-header .stricky-header .main-menu__list li.search-btn {
  margin-left: 70px;
}

.main-header__two .main-header__top {
  background-color: #242323;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 575px) {
  .main-header__two .main-header__top {
    display: none;
  }
}

.main-header__two .main-header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__two .main-header__top .main-header__social a,
.main-header__two .main-header__top p {
  color: #9e9e9e;
}

.main-header__two .main-header__top .main-header__social a:hover {
  color: #fff;
}

.main-header__two .header-upper {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1199px) {
  .main-header__two .header-upper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.main-header__two .header-upper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header__two .header-upper .mobile-nav__toggler {
  font-size: 20px;
  color: var(--thm-black);
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (min-width: 1200px) {
  .main-header__two .header-upper .mobile-nav__toggler {
    display: none;
  }
}

.main-header__two .header-upper .mobile-nav__toggler:hover {
  color: var(--thm-secondary);
}

@media (max-width: 1199px) {
  .main-header__two .header-upper .logo-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-header__two .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .main-header__two .header-info {
    display: none;
  }
}

.main-header__two .header-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}

.main-header__two .header-info__box > i {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 38px;
  color: var(--thm-secondary);
  margin-right: 20px;
}

.main-header__two .header-info__box h3 {
  margin: 0;
  font-family: var(--thm-font);
  color: #7e7e7e;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
}

.main-header__two .header-info__box p {
  margin: 0;
  color: var(--thm-black);
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  margin-top: 10px;
}

.main-header__two .header-info__box p a {
  color: inherit;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-header__two .header-info__box p a:hover {
  color: var(--thm-base);
}

.main-header__two .header-info .header-info__box + .header-info__box {
  border-left: 1px solid #e4e4e4;
  margin-left: 40px;
  padding-left: 40px;
}

.main-header__two .main-menu {
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.main-header__two .main-menu .container {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: -39.5px;
  position: relative;
  z-index: 11;
  padding-left: 15px;
  padding-right: 15px;
}

.main-header__two .main-menu__list {
  background-color: var(--thm-black);
  width: calc(100% - 223px);
  padding-left: 60px;
  padding-right: 50px;
}

.main-header__two .main-menu .thm-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 10px;
  font-size: 18px;
  padding-left: 60.5px;
  padding-right: 60.5px;
}

.main-header__two .main-menu .thm-btn:hover {
  background-color: var(--thm-primary);
  color: #fff;
}

.stricky-header-two .thm-btn {
  display: none;
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-one .container {
  position: relative;
}

.about-one [class*="col-"] .img-fluid {
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 0px 0px var(--thm-base);
          box-shadow: 0px 10px 0px 0px var(--thm-base);
}

@media (max-width: 991px) {
  .about-one [class*="col-"] .img-fluid {
    width: 100%;
    margin-bottom: 40px;
  }
}

.about-one [class*="col-"]:nth-child(3) .img-fluid {
  -webkit-box-shadow: 0px 10px 0px 0px var(--thm-primary);
          box-shadow: 0px 10px 0px 0px var(--thm-primary);
}

.about-one .finish_project__top-text {
  padding-right: 0;
}

.about-one__award {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: var(--thm-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 10;
  border-radius: 50%;
}

.about-counter {
  overflow: hidden;
  background-color: #f1f1f1;
  position: relative;
  z-index: 10;
}

.about-counter::after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-counter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.04;
  background-repeat: no-repeat;
}

.about-counter .container {
  position: relative;
  z-index: 11;
}

.about-counter__text {
  margin: 0;
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  color: #7e7e7e;
}
.img-about{
  height: 670px;
}

@media (max-width: 480px) {
  .about-counter__text br {
    display: none;
  }
}

.about-counter__image {
  position: relative;
  z-index: 10;
}

@media (max-width: 991px) {
  .about-counter__image {
    margin-top: 60px;
  }
}

.about-counter__image > img {
  border-radius: 15px;
}

@media (max-width: 991px) {
  .about-counter__image > img {
    max-width: 100%;
  }
}

.about-counter__image-content {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  max-width: 399px;
  background-color: var(--thm-primary);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 43px 50px;
}

@media (max-width: 991px) {
  .about-counter__image-content {
    left: 0;
  }
}

@media (max-width: 991px) {
  .about-counter__image-content {
    position: relative;
    top: auto;
    left: auto;
    border-radius: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .about-counter__image-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.about-counter__image-content img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about-counter__image-content p {
  margin: 0;
  margin-left: 30px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

@media (max-width: 375px) {
  .about-counter__image-content p {
    margin-left: 0;
    margin-top: 20px;
  }
}

.about-counter .ul-list-one {
  margin-top: 45px;
  margin-bottom: 95px;
}

.about-counter .ul-list-one li + li {
  margin-top: 7px;
}

.about-counter__count {
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  max-width: 470px;
  padding-top: 39px;
  padding-bottom: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -10px 60px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -10px 60px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  .about-counter__count {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about-counter__count h3 {
  margin: 0;
  font-size: 60px;
  font-family: var(--heading-font) !important;
  color: var(--thm-secondary);
}

.about-counter__count p {
  font-size: 18px;
  line-height: 26px;
  color: #7e7e7e;
  font-weight: 500;
  margin: 0;
  margin-left: 20px;
}

@media (max-width: 480px) {
  .about-counter__count p {
    margin-left: 0;
    margin-top: 10px;
  }
  .about-counter__count p br {
    display: none;
  }
}

.about-two__image {
  position: relative;
  left: -40px;
}

@media (max-width: 1199px) {
  .about-two__image {
    left: auto;
    margin-bottom: 60px;
  }
  .about-two__image img {
    max-width: 100%;
  }
}

.about-two__image::before {
  content: "";
  width: 254px;
  height: 247px;
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: -145px;
  z-index: -1;
  -webkit-animation-name: shapeMover;
  animation-name: shapeMover;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.about-two__award {
  position: absolute;
  bottom: 85px;
  left: 0%;
  -webkit-transform: translateX(-23%);
          transform: translateX(-23%);
  width: 184px;
  height: 184px;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--thm-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 10;
  border-radius: 50%;
}

@media (max-width: 575px) {
  .about-two__award {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.about-two__content > p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  color: #7e7e7e;
}

.about-two__box {
  padding-top: 10px;
}

.about-two__box h3 {
  margin: 0;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: var(--thm-black);
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.about-two__box h3 i {
  color: var(--thm-secondary);
  font-size: 26px;
  margin-right: 10px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.about-two__box h3:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.about-two__box p {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #7e7e7e;
}

.about-two__box + .about-two__box {
  margin-top: 30px;
}

.about-two__box-two {
  background-color: #f0f0f0;
  padding: 60px;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .about-two__box-two {
    max-width: 370px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.about-two__box-two > i {
  font-size: 58px;
  color: var(--thm-secondary);
}

.about-two__box-two h3 {
  margin: 0;
  color: var(--thm-black);
  font-weight: bold;
  margin-top: 5px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.04em;
}

.about-two .thm-btn {
  margin-top: 15px;
}

.about-two .thm-btn:hover {
  background-color: var(--thm-black);
  color: #fff;
}


/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .service-one {
    position: relative;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  }
  
  .service-one .container {
    position: relative;
  }
  
  .service-one__shape-1 {
    position: absolute;
    bottom: 65%;
    left: 95%;
    -webkit-animation-name: shapeMover;
    animation-name: shapeMover;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .service-one .block-title {
    margin-bottom: 60px;
    text-align: center;
  }
  
  .service-one .block-title p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .service-one [class*="col-"]:not(:first-of-type) {
    position: relative;
  }
  
  .service-one [class*="col-"]:not(:first-of-type)::before {
    content: "";
    width: 1px;
    height: 230px;
    background-color: #e4e4e4;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  @media (max-width: 768px) {
    .service-one [class*="col-"]:not(:first-of-type)::before {
      display: none;
    }
  }
  
  @media (max-width: 991px) {
    .service-one [class*="col-"]:nth-child(3n)::before {
      display: none;
    }
  }
  
  .service-one .container {
    position: relative;
  }
  
  .service-one .container::before {
    content: "";
    width: 254px;
    height: 247px;
    background-repeat: no-repeat;
    position: absolute;
    top: -205px;
    left: -100px;
    -webkit-animation-name: shapeMover;
    animation-name: shapeMover;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .service-one__box {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .service-one__box h3 {
    color: var(--thm-black);
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 0;
    letter-spacing: -0.04em;
  }
  
  .service-one__box h3 a {
    color: inherit;
  }
  
  .service-one__box p {
    margin: 0;
    font-size: 18px;
    line-height: 34px;
    color: #7e7e7e;
    width: 100%;
    max-width: 192px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  
  .service-one__box:hover .service-one__icon::before,
  .service-one__box:hover .service-one__icon::after {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    opacity: 1;
  }
  
  .service-one__box:hover .service-one__icon-inner::before {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  
  .service-one__icon {
    position: relative;
    width: 120px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: relative;
  }
  
  .service-one__icon::before, .service-one__icon::after {
    content: "";
    width: 9px;
    height: 141px;
    background-color: inherit;
    border-radius: 4.5px;
    position: absolute;
    top: -15px;
    left: 30px;
    z-index: 1;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
    opacity: 0;
    -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, transform 500ms ease;
    transition: opacity 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
  }
  
  .service-one__icon::after {
    left: 40px;
    top: -30px;
  }
  
  .service-one__icon-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  
  .service-one__icon-inner::before {
    content: "";
    top: 0;
    left: 0;
    width: 107px;
    height: 107px;
    background-color: #fff;
    position: absolute;
    opacity: 0.2;
    -webkit-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
    border-radius: 50%;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
  }
  
  .service-one__icon-inner::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #fff;
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .service-one__icon-inner i {
    color: #fff;
    font-size: 64px;
  }
  
  .service-two {
    padding-bottom: 120px;
    background-color: #f1f1f1;
    background-repeat: repeat-x;
    background-position: bottom center;
    -webkit-box-shadow: inset 0px -10px 60px 0px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0px -10px 60px 0px rgba(0, 0, 0, 0.05);
  }
  
  .service-two .container {
    position: relative;
    margin-top: -20px;
  }
  
  .service-two__box {
    margin-bottom: 34px;
    min-height: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    border-bottom-left-radius: 230px;
    border-bottom-right-radius: 230px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    background-position: center center;
  }
  
  .service-two__box::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
  }
  
  .service-two__box-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .service-two__box p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .service-two__box h3 {
    margin: 0;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -0.04em;
  }
  
  .service-two__box h3 a {
    color: inherit;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .service-two__box h3 a:hover {
    color: var(--thm-black);
  }
  
  .service-two__box-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 24px;
    color: var(--thm-black);
    width: 68px;
    height: 68px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 11;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .service-two__box-link:hover {
    background-color: var(--thm-black);
    color: #fff;
  }
  

  // card .finish_project

  .card-img-finish{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  } 

  .card_finish_4_col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  
  @media (min-width: 576px) {
    .card_finish_4_col {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1200px) {
    .card_finish_4_col {
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  .card_finish {
    position: relative;
  }
  
  
  .content-bg-5{
    background-color: #4bb2ed;
  }
  
  .content-bg-6 {
    background-color: #c94bed;
  }
  
  .card_finish_4_col {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -20px;
  }
 
  .content_overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  .card_finish__image:hover + .content_overlay{
    opacity: 1;
  }


