
/* Css apply for only 1st <p> */
.card-body p:first-of-type{
    margin-bottom: 0rem;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines for each <p> max to show */
    -webkit-box-orient: vertical;

}

/* For the other <p>, we hide the result*/
.card-body p + p{
  display: none;

}

.card-title{
    margin-top: 5px;
}


.imgbackground{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dayCountdownWhite{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.dayCountdownRed{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.91);
    color: red;
    padding-left: 10px;
    padding-right: 10px;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    position: relative;
}


.targetAmount{
    text-align: right; 
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 10px;
}


.custom_progress{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.custom_progress .progress {
    height: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 7px;
    background-color: #8d9ca8;
    border-radius: 0;
}
.progress-bar{
    background-color: #4eb49a;
   /* position: relative; */
}

.progress-count{
   position: absolute;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 7px;
    background-color: #4eb49a;
    line-height: 32px;
    top: -10px;
    color: red
}

.fa-star{
    color: yellow;
}
.fa-star:hover{
    color: yellow;
}

.button-favorite{
    color: white;
    border-style: none;
    background-color: rgba(248, 135, 126, 0.73);
    margin-bottom: 1em
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card-img-top {
       height: 200px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

}