{% extends "show_post_base.html.twig" %}


{% block admin_post %}
{% if is_granted("ROLE_ADMIN") %}
<div class="admin-section row">
    {% if postInfo.status.id == statusArray['POST_SUBMIT_TO_ADMIN'] %}
        <div class="btn btn-success btn-admin"
             onclick="location.href='{{ path('admin_allow_to_collecting', {uniquekey: postInfo.uniquekey}) }}'">
            <span>{% trans %} Cho phép đăng dự án {% endtrans %}</span>

        </div>
    {% endif %}
    {% if postInfo.status.id == statusArray['POST_SUBMIT_TO_ADMIN'] or statusArray['POST_COLLECTING'] %}

        <div class="btn btn-danger btn-admin btn-stop" onclick="location.href='{{ path('admin_stop_post', {uniquekey: postInfo.uniquekey}) }}'">
            <span>{% trans %} Tạm ngừng dự án {% endtrans %}</span>
        </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block comment %}
    
{% endblock %}