{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card card-body bg-light contenbase" style="margin-top: 5%; margin-bottom: 5%">
            <div class="row">
                <div class="col-sm-12">

                        {% block content_body %}{% endblock %}

                </div>
            </div>
        </div>




    </div>
{% endblock %}
