{% extends 'content_base.html.twig' %}

{% block title %}
        {% trans %} Tạo organisation {% endtrans %}
{% endblock %}

{% block content_body %}
            <h1 style="text-align: center">Tạo tài khoản cho phép đăng dự án</h1>
    <p>
        {% trans %}
        Để đăng dự án lên trang của bọn mình, và nhằm đảm bảo tính minh bạch của thông tin, chúng tôi ưu tiên cho các tài khoản dưới danh nghĩa cá nhân hoặc tổ chức được công nhận bời chính phủ.
        {% endtrans %}

    </p>
    <p>
        {% trans %}
            Chúng tôi yêu cầu các bạn cung cấp cho chúng tôi các thông tin sau đây:
        {% endtrans %}
    </p>
    <li>
        {% trans %}Chứng minh nhân dân{% endtrans %}
    </li>
    <li>
        {% trans %} Giấy chứng nhận tổ chức từ thiện {% endtrans %}
    </li>
    <li>
        {% trans %}Bằng khen cấp cá nhân hoặc tổ chức dành cho các hoạt động từ thiện đã tham gia{% endtrans %}
    </li>
    <li>
        {% trans %}Thông tin tài khoản ngân hàng{% endtrans %}
    </li>
    <li>
        {% trans %}Số điện thoại liên lạc và địa chỉ{% endtrans %}
    </li>

{% endblock %}

