{% extends 'content_base.html.twig' %}

{% block title %}
    {% trans %} Thay đổi thông tin cá nhân {% endtrans %}
{% endblock %}

{% block content_body %}

    {{ form_start(userIcon) }}
    <div class="form-group" style="width: 100%;">
        {{ form_row(userIcon.iconFile) }}
    </div>
    {{ form_widget(userIcon) }}
    <button type="submit" class="btn btn-primary">{% trans %} Thay đổi thông tin cá nhân {% endtrans %}</button>
    {{ form_end(userIcon) }}

{% endblock %}