@import '../helper/_variables';

html, body {
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
}

body {
    font-family: spartan;
    padding-top: 56px;
    color: #444;
    position: relative;
    background-color: $lightgray;
}

.contenbase{
    box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    margin-bottom: 1.25rem;
    -webkit-box-shadow: 0 1px 4px rgba(115,115,155,.5);

}

strong {
    font-weight: bold;
}
p {
    -webkit-font-smoothing: antialiased;
}

.nav-profile-img {
    width: 28px;
    height: 28px;
}
.dropdown-menu, .dropdown-menu.show {
    right: 0;
}


main{
    flex: 1;
}

#page-container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}



.mt-20 {
    margin-top: 20px;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .mt-40 {
    margin-top: 40px;
  }
  
  .mt-50 {
    margin-top: 50px;
  }
  
  .mt-60 {
    margin-top: 60px;
  }
  
  .mt-80 {
    margin-top: 80px;
  }
  
  .mt-120 {
    margin-top: 120px;
  }
  
  .mt--60 {
    margin-top: -60px;
  }
  
  .mt--120 {
    margin-top: -120px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }
  
  .mb-40 {
    margin-bottom: 40px;
  }
  
  .mb-50 {
    margin-bottom: 50px;
  }
  
  .mb-60 {
    margin-bottom: 60px;
  }
  
  .mb-80 {
    margin-bottom: 80px;
  }
  
  .mb-120 {
    margin-bottom: 120px;
  }
  
  .mb--60 {
    margin-bottom: -60px;
  }
  
  .mb--120 {
    margin-bottom: -120px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .pt-30 {
    padding-top: 30px;
  }
  
  .pt-40 {
    padding-top: 40px;
  }
  
  .pt-50 {
    padding-top: 50px;
  }
  
  .pt-60 {
    padding-top: 60px;
  }
  
  .pt-80 {
    padding-top: 80px;
  }
  
  .pt-110 {
    padding-top: 110px;
  }
  
  .pt-115 {
    padding-top: 115px;
  }
  
  .pt-120 {
    padding-top: 120px;
  }
  
  .pt-142 {
    padding-top: 142px;
  }
  
  .pb-20 {
    padding-bottom: 20px;
  }
  
  .pb-30 {
    padding-bottom: 30px;
  }
  
  .pb-40 {
    padding-bottom: 40px;
  }
  
  .pb-50 {
    padding-bottom: 50px;
  }
  
  .pb-60 {
    padding-bottom: 60px;
  }
  
  .pb-80 {
    padding-bottom: 80px;
  }
  
  .pb-90 {
    padding-bottom: 90px;
  }
  
  .pb-110 {
    padding-bottom: 110px;
  }
  
  .pb-115 {
    padding-bottom: 115px;
  }
  
  .pb-120 {
    padding-bottom: 120px;
  }
  
  .pl-5 {
    padding-left: 5px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pl-15 {
    padding-left: 15px;
  }
  
  .pl-20 {
    padding-left: 20px;
  }
  
  .pl-30 {
    padding-left: 30px;
  }
  
  .pr-5 {
    padding-right: 5px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .pr-15 {
    padding-right: 15px;
  }
  
  .pr-20 {
    padding-right: 20px;
  }
  
  .pr-30 {
    padding-right: 30px;
  }
  
  /*--------------------------------------------------------------
  # Cards
  --------------------------------------------------------------*/
  .gallery-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }
  
  .gallery-card > img {
    width: 100%;
  }
  
  .gallery-card:hover .gallery-content {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  
  .gallery-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: RGBA(var(--thm-primary-rgb), 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease, -webkit-transform 500ms ease;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  
  .gallery-content > a {
    font-size: 32px;
    color: #fff;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .gallery-content > a:hover {
    color: var(--thm-base);
  }
 
  .contact-card {
    border-top-left-radius: 220.5px;
    border-top-right-radius: 220.5px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: top right;
    min-height: 442px;
  }
  
  .contact-card i {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: var(--thm-black);
    font-size: 64px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact-card h3 {
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  @media (min-width: 481px) {
    .contact-card h3 {
      font-size: 22px;
    }
  }
  
  .contact-card p {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
  }
  
  .contact-card p a {
    color: inherit;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .contact-card p a:hover {
    color: var(--thm-black);
  }
  
  .event-card {
    -webkit-box-shadow: 0px 10px 60px 0px RGBA(0, 0, 0, 0.05);
            box-shadow: 0px 10px 60px 0px RGBA(0, 0, 0, 0.05);
    border-radius: 15px;
    border: 1px solid transparent;
    -webkit-transition: 500ms;
    transition: 500ms;
    background-color: #fff;
  }
  
  .event-card:hover {
    border-color: #e4e4e4;
    -webkit-box-shadow: 0px 10px 60px 0px RGBA(0, 0, 0, 0.1);
            box-shadow: 0px 10px 60px 0px RGBA(0, 0, 0, 0.1);
  }
  
  .event-card:hover .event-card-inner::before {
    opacity: 1;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  
  .event-card-inner {
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
    position: relative;
  }
  
  @media (min-width: 1200px) {
    .event-card-inner {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  .event-card-inner::before {
    content: "";
    width: 295px;
    height: 291px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(55%, -40%);
            transform: translate(55%, -40%);
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    opacity: 0.3;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  @media (min-width: 575px) {
    .event-card-inner {
      padding: 40px;
    }
  }
  
  .event-card-image-inner {
    position: relative;
    margin-bottom: 30px;
    border-radius: 50%;
    background-color: var(--thm-black);
  }
  
  @media (min-width: 1200px) {
    .event-card-image-inner {
      margin-bottom: 0;
      margin-right: 55px;
    }
  }
  
  .event-card-image-inner span {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: var(--thm-base);
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%) translateX(50%);
            transform: translateY(-50%) translateX(50%);
  }
  
  .event-card-image-inner > img {
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .event-card:hover .event-card-image-inner > img {
    opacity: 0.5;
  }
  
  .event-card-list {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    list-style-type: none;
  }
  
  .event-card-list li {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
  }
  
  .event-card-list li strong {
    font-weight: 500;
    color: var(--thm-black);
  }
  
  .event-card-list li > i {
    font-size: 16px;
    color: var(--thm-secondary);
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .event-card-content {
    position: relative;
  }
  
  .event-card-content h3 {
    font-size: 20px;
    color: var(--thm-black);
    font-weight: bold;
    margin: 0;
    letter-spacing: -0.04em;
  }
  
  @media (min-width: 481px) {
    .event-card-content h3 {
      font-size: 24px;
    }
  }
  
  .event-card-content h3 a {
    color: inherit;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .event-card-content h3 a:hover {
    color: var(--thm-primary);
  }
  
  .team-3-col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  
  @media (min-width: 576px) {
    .team-3-col {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 992px) {
    .team-3-col {
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  
  .featured-cause .inner-container {
    background-repeat: no-repeat;
    background-position: top right;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-right: 60px;
    overflow: hidden;
  }
  
  @media (max-width: 991px) {
    .featured-cause .inner-container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 575px) {
    .featured-cause .inner-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .featured-cause .inner-container img {
      display: none;
    }
  }
  
  @media (max-width: 575px) {
    .featured-cause .inner-container img {
      display: block;
      width: 100%;
    }
  }
  
  .featured-cause .my-auto {
    width: 100%;
    padding-left: 20px;
  }
  
  @media (max-width: 991px) {
    .featured-cause .my-auto {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .featured-cause .my-auto {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  .featured-cause h3 {
    margin: 0;
    font-weight: 700;
    color: #fff;
    font-size: 30px;
    letter-spacing: -0.04em;
  }
  
  .featured-cause p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #fcdede;
    margin-top: 5px;
  }
  
  .featured-cause .cause-card__top {
    margin-top: 45px;
  }
  
  @media (max-width: 1199px) {
    .featured-cause .cause-card__top {
      margin-top: 24px;
    }
  }
  
  .featured-cause .cause-card__progress {
    height: 15px;
    border-radius: 7.5px;
    background-color: #fff;
  }
  
  .featured-cause .cause-card__progress > span {
    background-color: var(--thm-base);
  }
  
  .featured-cause .cause-card__progress > span > b::after {
    border-top-color: var(--thm-base);
    border-left-color: var(--thm-base);
  }
  
  .featured-cause .cause-card__goals {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .featured-cause .cause-card__goals p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  
  .featured-cause .cause-card__goals p strong {
    color: #fff;
    font-weight: 400;
  }
  
  .news-3-col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  
  @media (min-width: 768px) {
    .news-3-col {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1200px) {
    .news-3-col {
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .blog-card {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 15px;
  }
  
  .blog-card__inner {
    overflow: hidden;
    border-radius: 15px;
  }
  
  .blog-card__image {
    overflow: hidden;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--thm-black);
  }
  
  .blog-card__image > img {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    width: 100%;
    -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease, -webkit-transform 500ms ease;
  }
  
  .blog-card:hover {
    -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  }
  
  .blog-card:hover .blog-card__image > img {
    opacity: 0.6;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .blog-card__date {
    width: 78px;
    height: 70px;
    background-color: var(--thm-primary);
    position: absolute;
    bottom: 0;
    right: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-top-left-radius: 39px;
    border-top-right-radius: 39px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .blog-card__content {
    border: 1px solid #fff;
    border-radius: 15px;
    border-top: 0;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    text-align: center;
  }
  
  .blog-card__content p {
    margin: 0;
    margin-bottom: 30px;
  }
  
  @media (max-width: 575px) {
    .blog-card__content p {
      width: 100%;
      max-width: 270px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .blog-card__content h3 {
    margin: 0;
    font-weight: 700;
    color: var(--thm-black);
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    .blog-card__content h3 {
      font-size: 26px;
      margin-bottom: 35px;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  
  .blog-card__content h3 a {
    color: inherit;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .blog-card__content h3 a:hover {
    color: var(--thm-base);
  }
  
  .blog-card:hover .blog-card__content {
    border-color: #e4e4e4;
  }
  
  .blog-card__more {
    background-color: #f1f1f1;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 16px;
    color: #7e7e7e;
    border-top: 1px solid #f1f1f1;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-weight: 500;
    line-height: 64px;
  }
  
  .blog-card__more > i {
    margin-right: 10px;
  }
  
  .blog-card:hover .blog-card__more {
    color: var(--thm-secondary);
    background-color: #fff;
    border-top-color: #e4e4e4;
  }
  
  .blog-card__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    margin-bottom: 7px;
  }
  
  .blog-card__meta a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .blog-card__meta a + a {
    margin-left: 20px;
  }
  
  .blog-card__meta a:hover {
    color: var(--thm-base);
  }
  
  .blog-card__meta a:hover > i {
    color: var(--thm-black);
  }
  
  .blog-card__meta a i {
    margin-right: 5px;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    color: var(--thm-base);
  }
  
  .news__top {
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-bottom: 336px;
    margin-bottom: -276px;
  }
  
  .news__top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f1f1;
    opacity: 0.95;
  }
  
  .news__top .container {
    position: relative;
  }
  
  .news-home .block-title {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Common
  --------------------------------------------------------------*/
  :root {
    --thm-font: "Jost", sans-serif;
    --heading-font: "Libre Baskerville", serif;
    --thm-color: #7e7e7e;
    --thm-color-rgb: 126, 126, 126;
    --thm-base: #fcad30;
    --thm-base-rgb: 252, 173, 48;
    --thm-primary: #4ecd99;
    --thm-primary-rgb: 78, 205, 153;
    --thm-secondary: #ed4b4b;
    --thm-secondary-rgb: 237, 75, 75;
    --thm-special: #5366c2;
    --thm-special-rgb: 83, 102, 194;
    --thm-black: #242323;
    --thm-black-rgb: 36, 35, 35;
    --thm-black2: #1d1c1c;
    --thm-black2-rgb: 29, 28, 28;
    --thm-text-dark: #9e9e9e;
    --thm-text-dark-rgb: 158, 158, 158;
  }
  
  body {
    font-family: var(--thm-font);
    color: var(--thm-color);
    font-size: 18px;
    line-height: 1.89;
  }
  
  a,
  a:hover,
  a:focus,
  a:visited {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font);
    color: var(--thm-black);
  }
  
  @media (max-width: 575px) {
    h1 br,
    h2 br,
    h3 br,
    h4 br,
    h5 br,
    h6 br {
      display: none;
    }
  }
  
  @media (max-width: 575px) {
    p br {
      display: none;
    }
  }
  
  ::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: inherit;
    opacity: 1;
  }
  
  ::-ms-input-placeholder {
    color: inherit;
    opacity: 1;
  }
  
  ::placeholder {
    color: inherit;
    opacity: 1;
  }
  
  .background-base {
    background-color: var(--thm-base);
  }
  
  .background-primary {
    background-color: var(--thm-primary);
  }
  
  .background-secondary {
    background-color: var(--thm-secondary);
  }
  
  .background-special {
    background-color: var(--thm-special);
  }
  
  .page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  
  .thm-btn {
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none;
    background-color: var(--thm-base);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--thm-font);
    padding: 16.5px 39.5px;
    -webkit-transition: 500ms;
    transition: 500ms;
    background-color: var(--thm-base);
    color: #fff;
  }
  
  .thm-btn:hover {
    color: var(--thm-base);
    background-color: #fff;
  }
  
  .block-text {
    font-size: 18px;
    line-height: 1.88;
    color: #7e7e7e;
    font-weight: 500;
  }
  
  @media (max-width: 991px) {
    .block-text {
      margin-top: 30px;
    }
  }
  
  .block-title {
    margin-bottom: 40px;
  }
  
  .block-title p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--thm-special);
    margin: 0;
    line-height: 1;
  }
  
  .block-title p img {
    margin-right: 10px;
  }
  
  .block-title h3 {
    margin: 0;
    color: var(--thm-black);
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: -0.04em;
  }
  
  @media (min-width: 1200px) {
    .block-title h3 {
      font-size: 46px;
    }
  }
  
  @media (min-width: 481px) {
    .block-title h3 {
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .block-title h3 br {
      display: none;
    }
  }
  /*
  .ul-list-one {
    margin-bottom: 0;
  }
  
  .ul-list-one li {
    position: relative;
    padding-left: 45px;
    font-size: 18px;
    font-weight: 500;
    color: var(--thm-black);
  }
  
  @media (min-width: 481px) {
    .ul-list-one li {
      font-size: 20px;
    }
  }
  
  .ul-list-one li::before {
    content: "\e907";
    color: var(--thm-secondary);
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: "azino-icon";
  }
  
  */
  .preloader {
    position: fixed;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9991;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
  }
  
  .preloader__image {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  /* post paginations */
  .post-pagination {
    margin-bottom: 0;
    margin-top: 40px;
  }
  
  @media (min-width: 992px) {
    .post-pagination {
      margin-top: 60px;
    }
  }
  
  .post-pagination a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #f1f1f1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
  }
  
  @media (min-width: 992px) {
    .post-pagination a {
      width: 60px;
      height: 60px;
      font-size: 18px;
    }
  }
  
  .post-pagination a:hover {
    background-color: var(--thm-secondary);
    color: #fff;
  }
  
  .post-pagination li:first-child a {
    background-color: var(--thm-base);
    color: #fff;
  }
  
  .post-pagination li:last-child a {
    background-color: var(--thm-black);
    color: #fff;
  }
  
  .post-pagination li + li {
    margin-left: 10px;
  }
  
  /* custom animations */
  @-webkit-keyframes shapeMover {
    0%,
    100% {
      -webkit-transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
      transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
    }
    50% {
      -webkit-transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
      transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
    }
  }
  
  @keyframes shapeMover {
    0%,
    100% {
      -webkit-transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
      transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
    }
    50% {
      -webkit-transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
      transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
    }
  }
  
  /*--------------------------------------------------------------
  # Form
  --------------------------------------------------------------*/
  .form-one .form-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 0;
  }
  
  @media (min-width: 576px) {
    .form-one .form-group {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
    }
  }
  
  .form-one .form-control {
    border: none;
    width: auto;
    height: auto;
    border-radius: 0;
    padding: 0;
  }
  
  .form-one .form-control-full {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: -1;
  }
  
  .form-one input[type=text],
  .form-one input[type=email],
  .form-one textarea {
    display: block;
    width: 100%;
    height: 73px;
    border-radius: 36.5px;
    background-color: #f1f1f1;
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    padding-left: 30px;
  }
  
  .form-one textarea {
    border-radius: 30px;
    height: 195px;
    padding-top: 20px;
  }
  
  .form-one .thm-btn {
    padding: 24.5px 57.5px;
  }
  
  .form-one .thm-btn:hover {
    background-color: var(--thm-primary);
    color: #fff;
  }
  

  /*--------------------------------------------------------------
  # Mobile Nav
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Search Popup
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Main Slider
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Page Header
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Google Map
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Client Carousel
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Event
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Gallery
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Blog Details
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Blog Sidebar
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # FAQ
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Fact counter
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Cause Details
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  
  
  /*--------------------------------------------------------------
  # Testimonials
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Call to Action
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Donate Options
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Price
  --------------------------------------------------------------*/
  