html, body {
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
}

body {
    font-family: spartan;
    padding-top: 56px;
    color: #444;
    position: relative;
    background-color: $lightgray;
}

.contenbase{
    box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    margin-bottom: 1.25rem;
    -webkit-box-shadow: 0 1px 4px rgba(115,115,155,.5);

}

strong {
    font-weight: bold;
}
p {
    -webkit-font-smoothing: antialiased;
}

.nav-profile-img {
    width: 28px;
    height: 28px;
}
.dropdown-menu, .dropdown-menu.show {
    right: 0;
}


main{
    flex: 1;
}

#page-container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}


