{% apply inline_css(encore_entry_css_source('email')) %}
    <!doctype html>
    <html lang="vn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title></title>
    </head>
    <body>
    <div class="body">
        <div class="container">
            <div class="header text-center">
                <a href="{{ url('app_homepage') }}">
                    <img src="{{ absolute_url(asset('images/logo.png')) }}" class="logo" alt="Logo">
                </a>
            </div>
            <div class="content">
                <h1 class="text-center">{% trans %}Tài khoản tạo/cập nhật thông tin của tổ chức{% endtrans %}</h1>
                <p class="block">
                    {% trans %}Có thêm 1 tài khoản vừa tạo hoặc cập nhật thông tin của tổ chức. Bạn có thể tìm thấy thông tin trên trang quản trị.
                    Tài khoản mới được tạo bởi:  {% endtrans %}{{ username }}
                </p>
                <p class="block">
                    {% trans %}Bạn nhớ vào trang chủ admin để kiểm tra và cấp phép cho tài khoản !{% endtrans %}
                </p>
            </div>
            <div class="footer">
                <p class="block">
                    {% trans %}Thân,{% endtrans %}
                    <br><br>
                    Yoyo
                </p>
                <p class="block bottom text-center">
                    {% trans %}Dự án cua Viet Son NGUYEN{% endtrans %}
                </p>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endapply %}