{% apply inline_css(encore_entry_css_source('email')) %}
    <!doctype html>
    <html lang="vn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title></title>
    </head>
    <body>
    <div class="body">
        <div class="container">
            <div class="header text-center">
                <a href="{{ url('app_homepage') }}">
                    <img src="{{ absolute_url(asset('images/logo.png')) }}" class="logo" alt="Logo">
                </a>
            </div>
            <div class="content">
                <h1 class="text-center">{% trans %}Yêu cầu thêm thông tin về tổ chức {% endtrans %}</h1>
                <div class="block">
                 {{ content|raw }}
                </div>
                <div class="block">
                    {% trans %}Bạn có thể sửa đổi thông tin của bạn thông qua đường link dưới đây{% endtrans %}
                </div>
                <p class="block text-center">
                    <a href="{{ url('app_edit_organisation_info', {id: id}) }}" class="btn">{% trans %}Cập nhật thông tin{% endtrans %}</a>
                </p>
            </div>
            <div class="footer">
                <p class="block">
                    {% trans %}Thân,{% endtrans %}
                    <br><br>
                    Yoyo
                </p>
                <p class="block bottom text-center">
                    {% trans %}Dự án cua Viet Son NGUYEN{% endtrans %}
                </p>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endapply %}