{% apply inline_css(source('@styles/email.css')) %}
<!doctype html>
<html lang="vn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Mât khâu cua ban tai YoYo</title>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('app_homepage') }}">
                <img src="{{ absolute_url(asset('images/logo.png')) }}" class="logo" alt="SpaceBar Logo">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Xin kính chào</h1>
            <p class="block">
                Chào mừng bạn tới với <strong> YoYo </strong>, chúng tôi cảm ơn bạn vì đã
                đăng ký tài khoản và chúng tôi mong chờ bạn sẽ cùng chúng tôi chung tay đóng
                góp 1 chút gì đó cho Việt Nam.
                Bạn nhân vào button duoi dây dê tao mât khâu moi.
                Luu y: duong dân duoi dây chi co hieu luc trong vong 24 tiêng.
            </p>
            <p class="block text-center">
                <a href="{{ url('app_create_resetPassword', {id: id, hash: tokenUser}) }}" class="btn">Tạo mât khâu moi</a>
            </p>
            <p class="block">
                Nhằm duy trì tính minh bạch của các dự án, chúng tôi sẽ cập nhập thường xuyên
                các hoạt động mà bạn đã đóng góp.
            </p>
        </div>
        <div class="footer">
            <p class="block">
                Thân,<br><br>
                Yoyo
            </p>
            <p class="block bottom text-center">
                Dự án cua Viet Son NGUYEN
            </p>
        </div>
    </div>
</div>
</body>
</html>
{% endapply %}
