{% apply inline_css(source('@styles/email.css')) %}
<!doctype html>
<html lang="vn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Chào mừng bạn tới với YoYo</title>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('app_homepage') }}">
                <img src="{{ absolute_url(asset('images/logo.png')) }}" class="logo" alt="SpaceBar Logo">
            </a>
        </div>
        <div class="content">
            <p class="block">
                Cam on ban da tao du an {{ post_name }} tai YoYo.

            </p>
            <p class="block text-center">
                <a href="{{ url('show_post', {uniquekey: post_uniqueKey}) }}" class="btn">Du an moi cua ban</a>
            </p>
            <p class="block">
                Các bạn có thể vào đây để tìm hiểu thêm về các dự án
            </p>
            <p class="block">
                Nhằm duy trì tính minh bạch của các dự án, chúng tôi sẽ cập nhập thường xuyên
                các hoạt động mà bạn đã đóng góp.
            </p>
        </div>
        <div class="footer">
            <p class="block">
                Thân,<br><br>
                Yoyo
            </p>
            <p class="block bottom text-center">
                Dự án cua Viet Son NGUYEN
            </p>
        </div>
    </div>
</div>
</body>
</html>
{% endapply %}