{% apply inline_css(source('@styles/email.css')) %}
    <!doctype html>
    <html lang="vn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title></title>
    </head>
    <body>
    <div class="body">
        <div class="container">
            <div class="header text-center">
                <a href="{{ url('app_homepage') }}">
                    <img src="{{ absolute_url(asset('images/logo.png')) }}" class="logo" alt="Logo">
                </a>
            </div>
            <div class="content">
                <h1 class="text-center">Tổ chức của bạn đã được công nhận</h1>
                <p class="block">
                    Chúc mừng bạn ! Bạn đã có thể tạo được dự án mới trên trang của chúng tôi.
                    Bạn có thể tạo dự án mới thông qua đường linh dưới đây.
                </p>

                <p class="block text-center">
                    <a href="{{ url('app_post_new') }}" class="btn">Tạo dự án mới</a>
                </p>
                <p class="block">
                    Chúng tôi cảm ơn bạn và hy vọng sẽ sớm được làm việc cùng bạn
                </p>
            </div>
            <div class="footer">
                <p class="block">
                    Thân,<br><br>
                    Yoyo
                </p>
                <p class="block bottom text-center">
                    Dự án cua Viet Son NGUYEN
                </p>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endapply %}